.App {
  text-align: center;
}

nav {
  background: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
}

.showNav  {
  padding: 5px
}

.Nav {
  text-decoration: none;
  color: rgb(234, 7, 204);
  font-size: xx-large;
  margin-left: 50px;
}

tbody a {
  color: rgb(232, 10, 10);
  /* padding: 20px; */
}

.Transactions {
  text-align: center;
  font-size: x-large;
}

thead {
  text-align: center;
  font-size: x-large;
  border-spacing: 0 35px;
  padding: 20px;
}

table {
  margin-right: auto;
  margin-left: auto;
  min-width: 650;
  border-collapse: separate;
  border-spacing: 0 35px;
  color: #08c664;
  font-weight: 700;
}

th {
  width: 150px;
  text-align: center;
  border: 1px solid black;
  padding: 20px;
}

.Show {
  text-align: center;
  font-size: 30px;
  color: mediumvioletred;
}

article {
  color:blueviolet
}

.Nuevo {
  color: rgb(255, 89, 0);

}

.Newedit {
  color: darkgoldenrod;
}

.Transactions {
  color:rgb(59, 4, 31)
}

.Index {
  color: rgb(74, 74, 5);
  font-size: 25px;
}

.Home {
  color: royalblue;
}